<!doctype html>
<title>Setting Page</title>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="Base3::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
</head>
<body>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<h3 class="my-3 text-center">Change Password</h3>
							<form th:action="@{/changepassword}" method="post" >
								<!--old password field-->
								<div class="form-group">
									<input name="oldpassword" type="password" class="form-control" placeholder="Enter Old Password" />
								</div><br>
								
								<!--new password field-->
								<div class="form-group">
									<input name="newpassword" type="password" class="form-control" placeholder="Enter New Password" />
								</div><br>
								
								<div class="container text-center">
									<button type="submit" class="btn btn-success">Change</button>
									<button type="reset" class="btn btn-warning">Reset</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		<script>
			$(document).ready(()=>{
			 $('.item').removeClass('active');
			 $('#settings-link').addClass("active");
			});
		</script>
	</section>
	
</body>
</html>

